odd/vaticana-demo.odd

<?xml-model href="teipublisher_odds.xsd"?><TEI xmlns="http://www.tei-c.org/ns/1.0" xmlns:pb="http://teipublisher.com/1.0" xml:lang="en"><teiHeader><fileDesc>
            <titleStmt><title>Vaticana demo</title></titleStmt>
            <publicationStmt>
                <publisher>eXistSolutions GmbH</publisher>
                <availability>
                    <licence target="https://www.gnu.org/licenses/gpl-3.0.en.html">Distributed under GNU General Public License</licence>
                    <p>Copyright 2017 <ref target="http://existsolutions.com">eXistSolutions GmbH</ref></p>
                    <p>This program is free software: you can redistribute it and/or modify
                        it under the terms of the GNU General Public License as published by
                        the Free Software Foundation, either version 3 of the License, or
                        (at your option) any later version.</p>
                    <p>This program is distributed in the hope that it will be useful,
                        but WITHOUT ANY WARRANTY; without even the implied warranty of
                        MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
                        GNU General Public License for more details.</p>
                </availability>
            </publicationStmt>
            <sourceDesc>
                <p>Generated by <ref target="http://tei-publisher.com">TEI Publisher</ref>
                </p>
                <p>born digital</p>
            </sourceDesc>
        </fileDesc><encodingDesc><tagsDecl/></encodingDesc><revisionDesc>
            <change when="2023-09-27+02:00">Initial version</change>
        </revisionDesc></teiHeader><text>
        <body>
            <schemaSpec start="TEI teiCorpus" ident="vaticana-demo" source="teipublisher.odd"> <elementSpec ident="body" mode="change"><modelSequence>
            <model behaviour="block">
                <param name="content" value="root(.)//fileDesc/titleStmt/substring-before(title, '-')"/>
                <outputRendition xml:space="preserve">
                font: bold 25px 'Arial Narrow', Arial, sans-serif; 
font-stretch: condensed;
margin-top: 30px;
margin-bottom: 10px;
                </outputRendition>
            </model>
            <model behaviour="link">
                <param name="content" value="root(.)//fileDesc/titleStmt/substring-after(title, '- ')"/>
                <param name="uri" value="concat('https://va.wiki.kul.pl/wiki/Item:', root(.)//fileDesc/titleStmt/substring-after(title, '- '))"/>
                <outputRendition xml:space="preserve">
                color: inherit;
                </outputRendition>
            </model>
            <model behaviour="block">
                <param name="content" value="root(.)//profileDesc/abstract"/>
                <outputRendition xml:space="preserve">
                font-style: italic;
background-image: url("resources/images/OLD_PAPER_TEXTURE.jpg");
margin-top: 20px;
padding: 20px;
                </outputRendition>
            </model>
            <model behaviour="section"/>
        </modelSequence><modelSequence>
            <model behaviour="index">
                <param name="type" value="'toc'"/>
            </model>
            <model behaviour="block"/>
        </modelSequence></elementSpec><elementSpec ident="p" mode="change"><model predicate="parent::abstract" behaviour="paragraph">
            <outputRendition xml:space="preserve">
            text-align: justify;
margin-right: 20px;
margin-left: 20px;
font-size: 1.1em;
            </outputRendition>
        </model><model output="print" predicate="ancestor::note" behaviour="inline"/><model behaviour="paragraph" useSourceRendition="true">
            <outputRendition xml:space="preserve">
            text-align: justify;
            </outputRendition>
        </model></elementSpec><elementSpec ident="title" mode="change"><model predicate="$parameters?header='short'" behaviour="heading">
            <param name="level" value="5"/>
        </model><modelSequence predicate="parent::titleStmt/parent::fileDesc">
            <model predicate="preceding-sibling::title" behaviour="text">
                <param name="content" value="' — '"/>
            </model>
            <model behaviour="inline"/>
        </modelSequence><model predicate="not(@level) and parent::bibl" behaviour="inline"/><modelSequence predicate="@level='m' or not(@level)">
            <model behaviour="inline">
                <outputRendition xml:space="preserve">
                font-style: italic;
                </outputRendition>
            </model>
            <model predicate="ancestor::biblFull" behaviour="text">
                <param name="content" value="', '"/>
            </model>
        </modelSequence><modelSequence predicate="@level='s' or @level='j'">
            <model behaviour="inline">
                <outputRendition xml:space="preserve">
                font-style: italic;
                </outputRendition>
            </model>
            <model predicate="following-sibling::* and     (  ancestor::biblFull)" behaviour="text">
                <param name="content" value="', '"/>
            </model>
        </modelSequence><modelSequence predicate="@level='u' or @level='a'">
            <model behaviour="inline">
                <outputRendition xml:space="preserve">
                font-style: italic;
                </outputRendition>
            </model>
            <model predicate="following-sibling::* and     (    ancestor::biblFull)" behaviour="text">
                <param name="content" value="'. '"/>
            </model>
        </modelSequence><model behaviour="inline">
            <outputRendition xml:space="preserve">
            font-style: italic;
            </outputRendition>
        </model></elementSpec><elementSpec ident="titleStmt" mode="change"><model output="latex" behaviour="meta">
            <param name="content" value="."/>
            <pb:template xmlns="" xml:space="preserve">root(.)/substring-before(title, '-')</pb:template>
        </model><model output="fo" behaviour="heading"/><model predicate="$parameters?mode='title'" behaviour="heading">
            <param name="content" value="title[not(@type)]"/>
            <param name="level" value="5"/>
        </model><modelSequence output="web" predicate="$parameters?header='short'">
            <model behaviour="link">
                <param name="content" value="title[1]"/>
                <param name="uri" value="$parameters?doc"/>
            </model>
            <model behaviour="block">
                <param name="content" value="subsequence(title, 2)"/>
            </model>
            <model behaviour="block">
                <param name="content" value="author"/>
            </model>
        </modelSequence><model output="web" behaviour="block"/></elementSpec><elementSpec ident="teiHeader" mode="change"><model output="latex" behaviour="metadata"/><model output="fo" behaviour="omit"/><model output="web" predicate="$parameters?header='short'" behaviour="block"/><modelSequence output="web">
            <model behaviour="block">
                <param name="content" value="//publicationStmt/p"/>
            </model>
            <model behaviour="listItem">
                <param name="n" value="'Źródła:'"/>
                <param name="content" value="//sourceDesc"/>
            </model>
            <model behaviour="listItem">
                <param name="n" value="'Data wydania:'"/>
                <param name="content" value="//date"/>
            </model>
            <model behaviour="listItem">
                <param name="n" value="'Miejsce wydania:'"/>
                <param name="content" value="//placeName"/>
            </model>
        </modelSequence><model output="web" behaviour="metadata"/></elementSpec><elementSpec ident="persName" mode="add"><model behaviour="alternate">
            <param name="default" value="."/>
            <param name="alternate" value="."/>
            <outputRendition xml:space="preserve">
            color: blue;
            </outputRendition>
        </model></elementSpec><elementSpec ident="affiliation" mode="add"><model behaviour="alternate">
            <param name="default" value="."/>
            <param name="alternate" value="."/>
            <outputRendition xml:space="preserve">
            color: orange;
            </outputRendition>
        </model></elementSpec><elementSpec ident="placeName" mode="add"><model predicate="parent::p" behaviour="alternate">
            <param name="default" value="."/>
            <param name="alternate" value="."/>
            <outputRendition xml:space="preserve">
            color: green;
            </outputRendition>
        </model></elementSpec><elementSpec ident="date" mode="change"><model output="web" predicate="@when" behaviour="alternate">
            <param name="default" value="."/>
            <param name="alternate" value="@when"/>
        </model><model behaviour="inline"/></elementSpec></schemaSpec>
        </body>
    </text></TEI>